
{% extends 'base.html' %}
{% block conteudo %}
<h2>Cargos</h2>
    <table class="table table-hover"> {# Estilo do Bootstrap #}

    <tr>
        <th>Descrição</th>
        <th>Salário</th>
    </tr>

    {% for cargo in cargos %}
        <tr>
            <td>{{ cargo.descricao }}</td>
            <td>{{ cargo.salario | floatformat:2 }}</td>
        </tr>
    {% endfor %}

    </table>

     {% include 'utils/paginacao.html' %} {# Inclui a seção para paginação. Esse arquivo pode ser reutilizado em qualquer view baseada em Lista #}

{% endblock %}