{% extends 'base.html' %}

{% block conteudo %}
    <script>

    $(document).ready(function(){
       $("#id_dataVenda").datepicker($.datepicker.regional['pt-BR']);



    });

    </script>
    {% if venda %}
        <h2>Editar Venda</h2>
    {% else %}
        <h2>Nova Venda</h2>
    {% endif %}
    <form method="post">
    {% csrf_token %}
    {{ form_venda.as_p }}
    {{ form_venda_produto.management_form }}
    {% for form in form_venda_produto %}
        <div class="link-formset">{{ form.as_table }}</div>

    {% endfor %}
     <input type="submit" class="btn btn-primary" value="Salvar">
    </form>

    <script>

        $('.link-formset').formset({
            addText: 'Adicionar Produto',
            deleteText: 'Remover Produto'
        });

    </script>

{% endblock %}